# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build/CMakeFiles/170b89e9c82f6a12d4f579b8ddf93aea/generate.stamp.rule
build/CMakeFiles/3.12.3/CMakeCCompiler.cmake
build/CMakeFiles/3.12.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.12.3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.12.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.12.3/CMakeRCCompiler.cmake
build/CMakeFiles/3.12.3/CMakeSystem.cmake
build/CMakeFiles/3.12.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.12.3/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.12.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.12.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.12.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.12.3/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.12.3/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.12.3/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.12.3/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.12.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.12.3/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.12.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.12.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.12.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.12.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.12.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.12.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.12.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.12.3/VCTargetsPath.txt
build/CMakeFiles/3.12.3/VCTargetsPath.vcxproj
build/CMakeFiles/3.12.3/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/feature_tests.bin
build/CMakeFiles/feature_tests.c
build/CMakeFiles/feature_tests.cxx
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/vrmagic_driftcam.dir/Debug/vc141.pdb
build/vrmagic_driftcam.dir/Debug/vrmagic_driftcam.log
build/vrmagic_driftcam.dir/Debug/vrmagic_driftcam.tlog/CL.command.1.tlog
build/vrmagic_driftcam.dir/Debug/vrmagic_driftcam.tlog/CL.read.1.tlog
build/vrmagic_driftcam.dir/Debug/vrmagic_driftcam.tlog/CL.write.1.tlog
build/vrmagic_driftcam.dir/Debug/vrmagic_driftcam.tlog/custombuild.command.1.tlog
build/vrmagic_driftcam.dir/Debug/vrmagic_driftcam.tlog/custombuild.read.1.tlog
build/vrmagic_driftcam.dir/Debug/vrmagic_driftcam.tlog/custombuild.write.1.tlog
build/vrmagic_driftcam.dir/Debug/vrmagic_driftcam.tlog/link.command.1.tlog
build/vrmagic_driftcam.dir/Debug/vrmagic_driftcam.tlog/link.read.1.tlog
build/vrmagic_driftcam.dir/Debug/vrmagic_driftcam.tlog/link.write.1.tlog
build/vrmagic_driftcam.dir/Debug/vrmagic_driftcam.tlog/unsuccessfulbuild
build/vrmagic_driftcam.dir/Debug/vrmagic_driftcam.tlog/vrmagic_driftcam.lastbuildstate
build/vrmagic_driftcam.sln
build/vrmagic_driftcam.vcxproj
build/vrmagic_driftcam.vcxproj.filters
build/vrmagic_driftcam.vcxproj.user
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.log
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.command.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.read.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
